<div class="nested-fields">
    <div class="field row form-group justify-content-center">
        <%= f.label :modulo_id, class: "col-2 col-form-label" %>
        <%= f.collection_select :modulo_id, @modulos_all, :id, :nome, {}, class: "form-control col-4"  %>
    </div>
    <div class="actions d-flex justify-content-center">
        <%= link_to_remove_association "Remover vínculo", f, class: "btn btn-sm btn-excluir bg-excluir" %>
    </div>
</div>
<br />