<div class="row justify-content-center">
    <div class="col-8 ">
        <div class="card border-success">
            <h1 class="card-header bg-success">Cadastrar Cliente</h1>

            <%= render 'form', cliente: @cliente %>

            <%= link_to 'Voltar', clientes_path, class: "btn btn-sm btn-outline-secondary" %>
        </div>
    </div>
</div>