<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @status_interno.nome %>
</p>

<%= link_to 'Edit', edit_status_interno_path(@status_interno) %> |
<%= link_to 'Back', status_internos_path %>
