<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_contato.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_contato_path(@tipo_contato) %> |
<%= link_to 'Back', tipo_contatos_path %>
