<h1 class="card-header bg-grad">Cadastrar Contato</h1>

<%= render 'form', contato: @contato %>

<%= link_to 'Back', edit_usuario_path(@usuario_all.first), class: "btn btn-bottom btn-sm btn-voltar bg-voltar" %>
