<h1 class="card-header bg-grad"><%= t('labels.create')%> Contato</h1>
<br>
<%= render 'form', contato: @contato %>
<br>
<%= render :partial => 'shared/button_back', locals: { path: edit_usuario_path(@contato.usuario) }%>
