<h1 class="card-header bg-grad">Alterar Módulo</h1>

<%= render 'form', modulo: @modulo %>

<%= link_to 'Detalhes', @modulo, class: "btn btn-bottom btn-sm btn-grad bg-grad" %>
<%= link_to 'Voltar', modulos_path, class: "btn btn-bottom btn-sm btn-voltar bg-voltar" %>
