<h1 class="card-header bg-grad"><%= t('labels.edit')%> Módulo</h1>
<br>
<%= render 'form', modulo: @modulo %>
<br>
<%= render :partial => 'shared/button_show', locals: { path: @modulo } %>
<%= render :partial => 'shared/button_back', locals: { path: modulos_path } %>
