
<h1 class="card-header bg-grad">Módulos</h1>

<p id="notice"><%= notice %></p>
<table class="table table-hover text-left">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modulos.each do |modulo| %>
      <tr>
        <td><%= modulo.nome %></td>
        <%= render :partial => 'shared/button_index', locals: { show_path: modulo, edit_path: edit_modulo_path(modulo) }%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render :partial => 'shared/button_new', locals: { path: new_modulo_path, text: ' Módulo' }%>
