<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_chamado.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_chamado_path(@tipo_chamado) %> |
<%= link_to 'Back', tipo_chamados_path %>
