<td><%= link_to t('buttons.show'), show_path, class: "btn btn-sm btn-grad bg-grad" %></td>
<td><%= link_to t('buttons.edit'), edit_path, class: "btn btn-sm btn-grad bg-grad" %></td>
<td><%= link_to t('buttons.destroy'), show_path, class: "btn btn-sm btn-excluir bg-excluir", method: :delete, data: { confirm: t('messages.confirm') } %></td>