<h1 class="card-header bg-grad">Dashbord</h1>
<div class="row text-center">
    <div class="col-2"></div>
    <div class="col-8">
        <br />
        <h1>UNDER DEVELOPMENT</h1>
        <br />
        <h2>Be patiente, please...</h2>
        <br />    
        <h4>A team of trained monkeys is smashing the keybord randonly until the code works, this will be read in a minute or two, trust me! </h4>
    </div>
</div>
