<h1 class="card-header bg-grad"><%= t('labels.edit')%> Cliente Modulo</h1>
<br>
<%= render 'form', cliente_modulo: @cliente_modulo %>

<%= render :partial => 'shared/button_show', locals: { path: @cliente_modulo } %>
<%= render :partial => 'shared/button_back', locals: { path: cliente_modulos_path } %>

