<h1 class="card-header bg-grad"><%= t('labels.create')%> Cliente Modulo</h1>
<br>
<%= render 'form', cliente_modulo: @cliente_modulo %>
<br>
<%= render :partial => 'shared/button_back', locals: { path: edit_cliente_path(@cliente_modulo.cliente) } %>
