<h1 class="card-header bg-grad">Cadastrar Cliente Modulo</h1>
<br>
<%= render 'form', cliente_modulo: @cliente_modulo %>

<%= link_to 'Voltar', cliente_modulos_path, class: "btn btn-bottom btn-sm btn-voltar bg-voltar" %>
