<h1 class="card-header bg-grad">Alterar Chamado</h1>
<br>
<%= render 'form', chamado: @chamado %>

<%= link_to 'Detalhes', @chamado, class: "btn btn-bottom btn-sm btn-grad bg-grad" %>
<%= link_to 'Voltar', chamados_path, class: "btn btn-bottom btn-sm btn-voltar bg-voltar" %>
