
<h1 class="card-header bg-grad"><%= t('labels.create')%> Usuário</h1>
<br>
<%= render 'form', usuario: @usuario %>
<br>
<%= render :partial => 'shared/button_back', locals: { path: usuarios_path }%>
