<h1>Editing Atendimento Chamado Status</h1>

<%= render 'form', atendimento_chamado_status: @atendimento_chamado_status %>

<%= link_to 'Show', @atendimento_chamado_status %> |
<%= link_to 'Back', atendimento_chamado_statuses_path %>
