/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    height: 100%;
}

/* BOTOES E GRADIENTES */
.btn-grad, .btn-excluir, .btn-voltar {
    transition: 0.5s;
}
.btn-grad:hover, .btn-excluir:hover, .btn-voltar:hover { 
    background-position: right center; 
    color: white;
}

.bg-grad, .bg-excluir, .bg-voltar{
    background-size: 200% auto;
    color: white;
}

.bg-grad{
    background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%);
}

.bg-voltar{
    background-image: linear-gradient(to right, #757F9A 0%, #EAECC6 51%, #757F9A 100%);
}

.btn-excluir{
    background-image: linear-gradient(to right, #FF6B6B 0%, #EAECC6 51%, #FF6B6B 100%);
}

.btn-bottom{
    width: 100%;
}
/*----------------------*/

/* BLUR E FIRULAS */

.hidden{
    display: none;
}

.background{
    background: url('/assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.conteudo{
    position: relative;
    width: 70%;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
}

.card-content{
    z-index: 100;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
}

.blur{
    background: url('/assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(5px);
    position: absolute;
    width: 105%;
    height: 100%;
    top: 0;
    z-index: 80;
}

.nav-link{
    color: #2BC0E4 !important;
}

.nav-link:hover{
    color: #EAECC6 !important;
}

.all-the-way-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
    height: 40px;
}
.footer-copyright{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 1.5em;
}