/* BOTOES E GRADIENTES */
.btn-grad:hover, .btn-excluir:hover, .btn-voltar:hover, .btn-aviso:hover, .btn-ok:hover { 
    background-position: right center; 
    color: white;
}

.bg-grad, .bg-excluir, .bg-voltar, .bg-aviso, .bg-ok{
    background-size: 200% auto;
    color: white;
}

.btn-grad, .btn-excluir, .btn-voltar, .btn-aviso, .btn-ok{
    transition: 0.5s;
    background-size: 220% auto;
}

.bg-grad{
    background-image: linear-gradient(35deg, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%);
}

.bg-voltar{
    background-image: linear-gradient(35deg, #757F9A 0%, #EAECC6 51%, #757F9A 100%);
}

.bg-excluir{
    background-image: linear-gradient(35deg, #FF6B6B 0%, #EAECC6 51%, #FF6B6B 100%);
}

.bg-aviso{
    background-image: linear-gradient(35deg, #FFD06B, #EAECC6 51%, #FFD06B 100%);
}

.bg-ok{
    background-image: linear-gradient(35deg, #8ff791, #EAECC6 51%, #8ff791 100%);    
}

.btn-bottom{
    width: 100%;
    transition: 1s !important;
    background-size: 200% auto;
}

.text-dashboard{
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}