html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper{
  position: relative;
  min-height: 100%;
}

#content{
  padding-bottom: 70px;
}

.conteudo{
    position: relative;
    margin-top: 30px;
    width: 70%;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
}

.notify{
  width: 70%;
  position: relative;
  margin-top: 30px;
  border-radius: 7px;
}

.card-content{
    z-index: 100;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
}

.blur{
    overflow: hidden;
    filter: blur(10px);
    position: absolute;
    width: 105%;
    height: 100%;
    top: 0;
    z-index: 80;
}

.margin-bottom{
  margin-bottom: 15px;
  margin-top: 15px;
}

.circle{
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 56px;
  font-weight: 700;
  margin: 0 auto 40px;
}

.circle-grad{
  border-color: #2BC0E4;
}

.text-grad, .circle-grad{
  color: #2BC0E4;
}

.circle-ok{
  border-color: #8ff791;
}

.text-ok, .circle-ok{
  color: #8ff791; 
}

.circle-aviso{
  border-color: #FFD06B;  
}

.text-aviso, .circle-aviso{
  color: #FFD06B;
}

.circle-excluir{
  border-color: #FF6B6B;
  color: #FF6B6B;
}