<p>Olá <%= @resource.nome %>!</p>

<p>Nós recebemos uma solicitação para resetar a senha no nosso sistema do seu usuário! Você pode dar continuidade na ação através do link abaixo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não realizou essa solicitação, por favor ignore o e-mail e nos desculpe pelo inconviente.</p>


<p>Atensiosamente,</p>
<p>Rodrigo Fernandes</p>
<p>Desensolvedor - SdC</p>